@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Todo List Application</h1>
</div>
<br>
<div class="text-center">
    <h4>Click here to view: <a asp-action="Index" asp-controller="TodoItems">Todo List</a></h4>
</div>